<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('partials/stylehead') -%>

	<!-- Arquivos CSS de estilização da página -->
	<link rel="stylesheet" href="/css/404.css">

	<title>Rate.io - Erro 404</title>
</head>

<body id="page-top">

	<div class="container px-4 h-100 center">
		<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-8">
				<h2 class="mb-2">Erro 404</h2>
				<h4><%-erro-%></h4>
				<a href="/" class="btn btn-secondary border-0 justify-content-center mt-3">Voltar para a página inicial</a>
			</div>
		</div>
	</div>
	
	<%- include('partials/footer') -%>
</body>

</html>