<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/artist.css">
    <title>Artista</title>
  </head>

  <body style='background-color: #e7e7e7'>
    
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-md">
        <a class="navbar-brand" href="#">
          <img src="/images/72651.png" alt="" width="30" height="24" class="d-inline-block align-text-top" style="margin-right: 5%">
          Rate.io
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item me-4">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" href="#">Artistas</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" href="#">Álbuns</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cadastrar
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Artista</a></li>
                <li><a class="dropdown-item" href="#">Álbum</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-4 my-3 mx-auto">
          <div class="card rounded">
            <img src="https://picsum.photos/300/200" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h4 class="card-title">Nome do Artista</h4>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-8 my-3">
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item"><b>Gênero: </b>X</li>
            <li class="list-group-item"><b>País: </b>Y</li>
            <li class="list-group-item"><b>Álbuns: </b></li>
            <li class="list-group-item">Álbum 1</li>
            <li class="list-group-item">Álbum 2</li>
          </ul>
        </div>
      </div>
    </div>
    
    
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    
  </body>
  </html>