<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/stylehead') -%>
  <link rel="stylesheet" href="/css/createArtist.css">

  <title>Rate.io - Cadastrar Artista</title>
</head>

<body id="page-top">
  <%- include('partials/navbar') -%>

  <section class="page-section" id="form">
    <div class="registration-form">
      <form action="/artist/" method="POST">
        <h2 class="text-center mt-0 pb-4">Cadastrar Artista</h2>
        <div class="form-floating">
          <input type="text" class="form-control item" id="name" name="name" placeholder="Nome do artista">
          <label for="name">Nome do artista</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control item" id="musicalGenre" name="musicalGenre" placeholder="Gênero musical">
          <label for="musicalGenre">Gênero musical</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control item" id="country" name="country" placeholder="País de origem">
          <label for="country">País de origem</label>
        </div>
        <div class="form-floating">
          <input type="url" class="form-control item" id="image" name="image" placeholder="URL para imagem do artista">
          <label for="image">URL para imagem do artista</label>
        </div>
        <div class="form-floating">
          <button type="submit" class="btn btn-secondary create-account w-100">Cadastrar</button>
        </div>
      </form>
    </div>
  </section>
  <%- include('partials/footer') -%>
</body>

</html>