<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/stylehead') -%>
  <link rel="stylesheet" href="/css/createAlbum.css">

  <title>Rate.io - Cadastrar Álbum</title>
</head>

<body id="page-top">
  <%- include('partials/navbar') -%>

  <section class="page-section" id="form">
    <div class="registration-form">
      <form>
        <h2 class="text-center mt-0 pb-4">Cadastrar Álbum</h2>
        <div class="form-floating">
          <input type="text" class="form-control item" id="nome" placeholder="Nome do álbum">
          <label for="nome">Nome do álbum</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control item" id="artista" placeholder="Nome do artista">
          <label for="artista">Nome do artista</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control item" id="ano" placeholder="Ano">
          <label for="ano">Ano de lançamento</label>
        </div>
        <div class="form-floating">
          <input type="url" class="form-control item" id="url" placeholder="URL para imagem do álbum">
          <label for="url">URL para imagem do álbum</label>
        </div>
        <div class="form-floating">
          <button type="button" class="btn btn-secondary create-account w-100">Cadastrar</button>
        </div>
      </form>
    </div>
  </section>

</body>

</html>