h2, .h2, h1, .h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: "Montserrat";
	font-weight: 700 !important;
}

p, .p, h6, .h6, h5, .h5, h4, .h4, h3, .h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: "Esteban", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	line-height: 1.2;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #D62828 !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
	background-color: #F77F00 !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
	background-color: #FCBF49 !important;
}

.card-body {
	text-align: center;
}

.card-img-top {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10%;

}

@media (max-width: 768px) {
	.card-img-top {
		height: 200px;
	}
}

.navbar-nav {
	margin-left: auto;
}

#divCards {
	justify-content: space-evenly;
}

#mainNav {
	background-color: #fff;
	transition: background-color 0.2s ease;
	height: 4rem;
}

#mainNav .navbar-brand {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
	color: #6c757d;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	font-size: 0.9rem;
	padding: 0.75rem 0;
}

@media (min-width: 992px) {
	#mainNav {
		box-shadow: none;
	}

	#mainNav .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}

	#mainNav .navbar-brand:hover {
		color: #fff;
	}

	#mainNav .navbar-nav .nav-item .nav-link {
		color: #003049;
		padding: 0 1rem;
	}

	#mainNav .navbar-nav .nav-item:last-child .nav-link {
		padding-right: 0;
	}

	#mainNav.navbar-shrink {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		background-color: #fff;
	}

	#mainNav.navbar-shrink .navbar-brand {
		color: #212529;
	}

	#mainNav.navbar-shrink .navbar-brand:hover {
		color: #f4623a;
	}

	#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
		color: #212529;
	}

	#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
		color: #f4623a;
	}
}

.checked{
	color: orange;
  }
  
  .unchecked{
	color: black;
  }